@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
    --bgcolor: #FFFEFA;
    --primary-color: #872BFF;
    --secondary-color: #8A8A8A;
}

body {
    background-color: var(--bgcolor);
}

p {
    color: var(--secondary-color);
}

section {
    margin-bottom: 150px;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
    color: var(--primary-color);
    text-transform: uppercase;
}

h2 {
    font-size: 44px;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    width: 87.5%;
}

.btn {
    background-color: var(--primary-color);
    color: white;
    padding: 16px 32px;
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 4px 10px #8C8C8C;
    cursor: pointer;
}

#hero {
    padding-top: 100px;
    background: url("./assets/Hero-bg.png");
    background-size: 600px;
    margin-bottom: 150px;
}

#hero-container {
    margin: 0 auto;
    display: flex;
    width: 87.5%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hero-area h1 {
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 36px;
}

.hero-area span {
    color: var(--primary-color);
}

.hero-area p {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 36px;
}

.hero-area .white-btn {
    margin-left: 10px;
    background-color: white;
    color: black;
}

.hero-image img {
    width: 500px;
    vertical-align: middle;
}

#skills-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.heading {
    text-align: center;
}

#skills-container .heading h4 {
    margin-bottom: 10px;
}

#skills-container .heading h2 {
    margin-bottom: 60px;
}

.skill-cards {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 60px;
}

.card {
    padding: 40px;
    background-color: white;
    box-shadow: 0 6px 4px #00000025;
    border-radius: 16px;
}

.card img {
    width: 75px;
    margin-bottom: 35px;
}

.card h3 {
    font-size: 24px;
    font-weight: bolder;
    line-height: 36px;
    margin-bottom: 8px;
}

.card p {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 26px;
}

.card a {
    color: black;
    font-weight: bold;
}