@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
    --bgcolor: #FFFEFA;
    --primary-color: #872BFF;
    --secondary-color: #8A8A8A;
}

body {
    background-color: var(--bgcolor);
}

p {
    color: var(--secondary-color);
}

.btn {
    background-color: var(--primary-color);
    color: white;
    padding: 16px 32px;
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 4px 10px #8C8C8C;
    cursor: pointer;
}

#hero {
    padding-top: 100px;
    background: url("./assets/Hero-bg.png");
    background-size: 600px;
}

#hero-container {
    margin: 0 auto;
    display: flex;
    width: 87.5%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hero-area h1 {
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 36px;
}

.hero-area span {
    color: var(--primary-color);
}

.hero-area p {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 36px;
}

.hero-area .white-btn {
    margin-left: 10px;
    background-color: white;
    color: black;
}

.hero-image img {
    width: 500px;
    vertical-align: middle;
}